  * {
	background-color: #06060B;
	cursor: none;
  }

  body {
	height: 100vh;
	margin: auto;
	justify-content: center;
	align-items: center;
  }
  
  .circle {
	position: absolute;
	height: 12px;
	width: 12px;
	background-color: transparent;
	border: 3px solid rgb(146, 221, 76);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.01s ease-out;
  }
  
  h1 {
	color: #1f57ac;
	font-family: "poppins", sans-serif;
	font-weight: bold;
	font-size: 72px;
  }
  p {
	color: rgb(233, 233, 233);
	font-family: "poppins", sans-serif;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
  }

  .about-me {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
  }
  .my-projects {
	max-width: 700px;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: center;
  }

  .countdown {
	display: flex;
	font-family: "poppins", sans-serif;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	font-size: 42px;
	color: #f8f8f8;
  }
  
  .countdown div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	width: 92px;
	height: 90px;
	background-color: transparent;
	font-weight: bold;
	border-radius: 8px;
	background-color: #051a2259;
	text-align: center;
  }
  
  .rainbow {
    background-image: repeating-linear-gradient(45deg, violet, yellow, orange, red, violet, white);
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    animation: rainbow 8s ease infinite;
  }
  @keyframes rainbow { 
    0%{background-position:0% 50%} 
    50%{background-position:100% 25%}
    100%{background-position:0% 50%} 
}
.hidden {
	display: none;
  }
  

.project-container {
	margin: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: transparent;
}
.project-element {
	margin-left: 2ch;
	margin-right: 2ch;
	text-align: center;
	width: auto;
	height: auto;
	background-color: #051a2259;
	border-radius: 8px;
}
